@media screen and (max-width: 991px) {
    body {
        margin: 0;
        padding: 0 !important;
        box-sizing: border-box;
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
    }

    /* NAV BAR */

    .nav-toggle {
        margin-right: 20px;
        display: block;
    }

    .main-nav {
        overflow: initial;
        padding-top: 20px;
        margin-bottom: 20px;
    }

    .nav-links {
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(8px);
        left: -100%;
        top: 50px;
        width: 100%;
        padding-block: 20px;
        transition: 0.2s ease-out;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

     /* header-section */

     .hero-card-section {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .hero-head {
        width: 100%;
    }

    /* CATEGORIES SECTION */

    .categories {
        flex-direction: column-reverse;
        padding-block: 20px;
        width: 100%;
    }

    .gallery {
        width: 100%;
        padding: 20px;
    }

    .box {
        grid-row: span 1;
        grid-column: span 3;
    }


    /* FAQ SECTION */

    .faq-section {
        background: none;
    }

    .faqs {
        max-width: 100%;
        padding: 45px 60px 45px 60px;
    }

    .faqs .image-box {
        height: 360px;
        width: 100%;
    }

    .faqs .faqs-text {
        width: 63%;
    }

    .FAQ-section {
        padding-block: 10px;
    }


    /* REVEWIS SECTION */

    .col {
        flex: 100%;
        max-width: 100%;
    }

    .inner {
        padding: 0;
    }


   /* Blog Section */

    .blogs-area {
        gap: 20px;
    }

    .blogs-card {
        width: calc(50% - 10px);
        height: 200px;
    }   

    /* Services-Sections */

    .services {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {

    .primary-button {
        width: 100%;
    }

    /* Header Section */

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-head {
        flex-direction: column;
        width: 100%;
    }

    header {
        height: auto;
        margin-bottom: 20px;
    }

    .hero-card-sec {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    /* Feature Section */

    .feature-card {
        min-width: calc(50% - 10px);
    }

    /* TOP PROFILES */

    .top-profile-container {
        flex-direction: column;
    }

    .top-profiles-section {
        height: 100%;
    }

    .profile-image {
        width: 100%;
        background-image: url(Assest/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        border-radius: 0;

    }

    .profile-image img {
        margin: 20px 0;
    }


    .profile-description {
        padding: 10px;
        background: transparent;
        margin: 0;
        width: 100%;
    }

    .first-image {
        flex-direction: column-reverse;
    }

    h2 {
        font-size: 2rem;
    }

    /* Footer */

    .foot-container {
        flex-direction: column;
        gap: 40px;
        text-align: center;
        align-items: center;
    }

    .link-coloum {
        align-items: stretch;
    }

    /* Blog Section */

    .blogs-card {
        width: 250px;
    }

    .col {
        flex: 100%;
        max-width: 100%;
    }

    .services {
        width: 100%;
    }

    .blogs-card {
        width: 100%;
    }

    .profile-card {
        width: calc(50% - 20px);
    }
}

@media screen and (max-width: 479px) {
    :root {
        --padding-inline-section: 10px
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 23px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 17px;
    }
    

    /* Header Section */

    header {
        padding: 0;
    }

    .hero h1 {
        font-size: 50px;
        margin-top: 20px;
    }

    .hero p {
        text-align: center;
        margin-top: 1cqw;
    }

    .hero-card {
        width: 150px;
        height: 180px;
    }

    .feature-card {
        min-width: 100%
    }

    .profile-image {
        width: 100%;
        background-image: url(Assest/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        border-radius: 0;

    }

    .profile-image img {
        margin: 20px 0;
    }


    .profile-description {
        padding: 10px;
        background: transparent;
        margin: 0;
        border-radius: 0;
    }

    /* Services */

    .services {
        width: 100%;
    }

    /* Blogs */

    .blogs-card {
        width: 100%;
    }

    .profile-card {
        width: calc(50% - 20px);
        max-width: none;
        /* Remove maximum width for smaller screens */
    }

    .faq-section {
        background: none;
    }

    .faq-right {
        padding: 0;
        margin: 0;
        margin-top: 40px;
    }

    .title {
        text-align: center;
    }

    .faqs {
        padding: 25px;
    }

    .faqs-text li p {
        width: 98%;
    }

    .categories {
        flex-direction: column;
        padding-block: 40px;
    }

    .gallery {
        width: 100%;
        padding: 30px;
        gap: 20px;
    }

    .image-list img {
        width: 100%;
    }

    .box {
        grid-row: span 2;
        grid-column: span 3;
    }
}

